{"TemplateElementContainer":[{"Rectangle":"32, 441, 60, 37","Name":"R-2","Marks":[]},{"Rectangle":"32, 227, 90, 37","Name":"R-11","Marks":[]},{"Rectangle":"172, 453, 119, 44","Name":"R-0","Marks":[]},{"Rectangle":"267, 162, 236, 44","Name":"R-55","Marks":[]},{"Rectangle":"31, 319, 284, 41","Name":"R-8","Marks":[]},{"Rectangle":"357, 330, 286, 45","Name":"R-7","Marks":[]},{"Rectangle":"170, 208, 164, 113","Name":"R-12","Marks":[]},{"Rectangle":"1, 118, 754, 29","Name":"R-57","Marks":[]},{"Rectangle":"175, 364, 330, 69","Name":"R-5","Marks":[]},{"Rectangle":"45, 23, 645, 81","Name":"R-76","Marks":[]}],"OriginalSize":"0, 0"}